<html>

<head>
    <title>
        <%= locals['title'] || 'RomHacker Web' %>
    </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <h1>
            <%= locals['title'] || 'RomHacker Web' %>
        </h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/game">Games</a></li>
                <li><a href="/search">Search</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <p>&copy; 2025 RomHacker Web</p>
    </footer>
</body>

</html>